<div id="logo"><img src="../../public/images/s-logo.svg"/></div>
<div id="nav-panel">
    <div class="active">Игровое поле</div>
    <div>Рейтинг</div>
    <div>Активные игроки</div>
    <div>История игр</div>
    <div>Список игроков</div>
</div>
<div><img src="../../public/images/signout-icon.svg"/></div>