<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/Game.css">
</head>
<body>
<div class="form">
    <form action="/login" method ="post" enctype="#">
        <div class="background"></div>
        <div>
            <p>Войдите в игру</p>
        </div>
        <div class="login">
            <input type="text" name="username" id="username" value="" placeholder="Логин">
        </div>
        <div class="pass">
            <input type="password" name="userpass" id="userpass" value="" placeholder="Пароль">
        </div>
        <div class="button" id="login">
            <button type="submit" >Войти</button>
        </div>
    </form>
</div>
</body>
<script type="application/javascript" src="../../public/js/Task7.js"></script>
</html>