<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рейтинг</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/Game.css">
</head>
<body>
<header>
    <%- include('../partials/header'); %>
</header>
<div class="wrapper">
    <div class="block">
        <div class="raiting"><h1>Рейтинг игроков</h1></div>
        <div class="block_row">
            <div class="block_item_first" id="fio">ФИО</div>
            <div class="block_item" id="all">Всего игр</div>
            <div class="block_item" id="win">Победы</div>
            <div class="block_item" id="over">Проигрыши</div>
            <div class="block_item_last" id="proc">Процент побед</div>
        </div>
        <% gamers.forEach(function(gamer) { console.log(gamer); %>
            <div class="block_row">
                <div class="block_item_first"><%= gamer.fio %></div>
                <div class="block_item"><%= gamer.total %></div>
                <div class="block_item_winner"><%= gamer.win %></div>
                <div class="block_item_over"><%= gamer.lose %></div>
                <div class="block_item_last"><%= gamer.percent %>%</div>
            </div>
        <% }); %>
    </div>
</div>
</body>
</html>